In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_Database/WeatherPy_challenge.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Rikitea,PF,-23.1203,-134.9692,75.15,70,64,12.01,broken clouds,0.0,0.0
1,1,Houma,US,29.5958,-90.7195,75.99,79,1,0.00,clear sky,0.0,0.0
2,2,Bandarbeyla,SO,9.4942,50.8122,77.97,83,90,22.59,overcast clouds,0.0,0.0
3,3,Avarua,CK,-21.2078,-159.7750,78.85,57,40,4.61,scattered clouds,0.0,0.0
4,4,Atuona,PF,-9.8000,-139.0333,79.47,67,3,9.01,clear sky,0.0,0.0

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [9]:
pcities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [11]:
rain_p = str(input("Do you want it to be raining? (yes/no) "))
snow_p = str(input("Do you want it to be snowing? (yes/no) "))

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [12]:
if (rain_p == 'yes'):
    pcities_rp_df = pcities_df.loc[(pcities_df["Rain (inches)"] > 0)]
    
elif (rain_p == 'no'):
    pcities_rp_df = pcities_df.loc[(pcities_df["Rain (inches)"] == 0)]
    
if (snow_p == 'yes'):
    pcities_rp_sp_df = pcities_rp_df.loc[(pcities_rp_df["Snow (inches)"] > 0)]
    
elif (snow_p == 'no'):
    pcities_rp_sp_df = pcities_rp_df.loc[(pcities_rp_df["Snow (inches)"] == 0)]

In [13]:
cities_w_rain_snow = len(pcities_df.loc[(pcities_df["Rain (inches)"] > 0)]) + len(pcities_rp_df.loc[(pcities_rp_df["Snow (inches)"] > 0)])
print("There are " + str(cities_w_rain_snow) + " cities with rain and snow")

There are 31 cities with rain and snow

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pcities_rp_sp_df[["City", "Country", "Max Temp","Current Description","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.15,broken clouds,-23.1203,-134.9692,
1,Houma,US,75.99,clear sky,29.5958,-90.7195,
2,Bandarbeyla,SO,77.97,overcast clouds,9.4942,50.8122,
3,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,
4,Atuona,PF,79.47,clear sky,-9.8000,-139.0333,
7,Salvador,SV,75.60,overcast clouds,13.8333,-88.9167,
12,Muros,ES,64.83,clear sky,42.7762,-9.0603,
13,Fayaoue,NC,72.28,few clouds,-20.6500,166.5333,
14,Fairbanks,US,68.59,scattered clouds,64.8378,-147.7164,
15,Butaritari,KI,82.96,few clouds,3.0707,172.7902,

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.15,broken clouds,-23.1203,-134.9692,Pension Maro'i
1,Houma,US,75.99,clear sky,29.5958,-90.7195,Courtyard by Marriott Houma
2,Bandarbeyla,SO,77.97,overcast clouds,9.4942,50.8122,JABIR HOTEL
3,Avarua,CK,78.85,scattered clouds,-21.2078,-159.7750,Paradise Inn
4,Atuona,PF,79.47,clear sky,-9.8000,-139.0333,Villa Enata

In [18]:
# Create the output file (CSV).
output_data_file2 = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file2, index_label="City_ID")

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, -80), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))