In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lucea,JM,2021-05-30 20:06:54,18.4510,-78.1736,78.85,68,55,1.68
1,1,New Glasgow,CA,2021-05-30 20:06:54,45.5834,-62.6486,49.93,85,100,7.96
2,2,Vagur,FO,2021-05-30 20:05:01,61.4732,-6.8119,48.25,92,0,21.25
3,3,Rikitea,PF,2021-05-30 20:02:30,-23.1203,-134.9692,75.36,71,96,12.35
4,4,Trairi,BR,2021-05-30 20:01:57,-3.2778,-39.2689,79.25,77,5,9.24

In [16]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [17]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lucea,JM,2021-05-30 20:06:54,18.4510,-78.1736,78.85,68,55,1.68
3,3,Rikitea,PF,2021-05-30 20:02:30,-23.1203,-134.9692,75.36,71,96,12.35
4,4,Trairi,BR,2021-05-30 20:01:57,-3.2778,-39.2689,79.25,77,5,9.24
6,6,Mattru,SL,2021-05-30 20:06:55,7.6244,-11.8332,75.72,96,100,2.82
10,10,Touros,BR,2021-05-30 20:01:58,-5.1989,-35.4608,79.54,81,61,12.10
11,11,Marsh Harbour,BS,2021-05-30 20:02:56,26.5412,-77.0636,79.39,73,60,9.24
12,12,San Patricio,US,2021-05-30 20:06:56,28.0170,-97.5169,88.02,55,22,15.50
17,17,Mangrol,IN,2021-05-30 20:06:57,21.1167,70.1167,82.45,79,89,11.45
18,18,Arraial Do Cabo,BR,2021-05-30 20:06:57,-22.9661,-42.0278,75.06,88,75,6.91
19,19,Darapidap,PH,2021-05-30 20:06:58,17.2131,120.4114,79.90,84,24,3.89

In [32]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Lucea      JM     78.85  18.4510  -78.1736
3           Rikitea      PF     75.36 -23.1203 -134.9692
4            Trairi      BR     79.25  -3.2778  -39.2689
6            Mattru      SL     75.72   7.6244  -11.8332
10           Touros      BR     79.54  -5.1989  -35.4608
11    Marsh Harbour      BS     79.39  26.5412  -77.0636
12     San Patricio      US     88.02  28.0170  -97.5169
17          Mangrol      IN     82.45  21.1167   70.1167
18  Arraial Do Cabo      BR     75.06 -22.9661  -42.0278
19        Darapidap      PH     79.90  17.2131  120.4114

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Lucea,JM,78.85,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa
3,Rikitea,PF,75.36,-23.1203,-134.9692,Pension Maro'i
4,Trairi,BR,79.25,-3.2778,-39.2689,janelas do mar
6,Mattru,SL,75.72,7.6244,-11.8332,"Mondkor Town, Bagbo Chiefdom, Bo District"
10,Touros,BR,79.54,-5.1989,-35.4608,INN NEW HORIZON
11,Marsh Harbour,BS,79.39,26.5412,-77.0636,Abaco Beach Resort
12,San Patricio,US,88.02,28.0170,-97.5169,"Motel 6 Sinton, TX"
17,Mangrol,IN,82.45,21.1167,70.1167,Hotel The Royal Honours
18,Arraial Do Cabo,BR,75.06,-22.9661,-42.0278,Pousada Porto Praia
19,Darapidap,PH,79.90,17.2131,120.4114,Candon Beach Resort

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))